<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reddit_name %><br />
    <%= f.text_field :reddit_name %>
  </div>
  <div class="field">
    <%= f.label :game_name %><br />
    <%= f.text_field :game_name %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.select :platform, ["PC", "360", "PS3"] %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Add Me" %>
  </div>
<% end %>