<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Reddit Bfbc2</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= google_analytics if RAILS_ENV == 'production' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :datatables %>
  <%= stylesheet_link_tag :defaults %>
  <%= stylesheet_link_tag :datatables %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= link_to "Hosted at GitHub.com", 'http://github.com/yelvert/reddit_bfbcs' %> | <%= link_to "Powered by bfbcs.com", 'http://www.bfbcs.com' %> | <%= link_to "Powered by DataTables.net", 'http://www.datatables.net' %>
  <br />
  This site is written in Ruby on Rails, if you would like to help out send me a message on GitHub, Thanks <%= link_to "yelvert", "http://www.reddit.com/user/yelvert" %>
  <br /><br />
  <%= yield %>
</body>
</html>
